<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
</head>
<body>
<form th:action="@{/todo/create}" method="post">
    <h1>TODO List</h1>
    <label for="todo-desc">새 할일: <input type="text" id="todo-desc" name="todo-desc"></label>
    <input type="submit" value="생성">
</form>

<form>
    <hr th:unless="${todoList.isEmpty()}">
    <div th:each="todo: ${todoList}">
        <span>[[${todo.id}]]. </span> <span>[[${todo.content}]]</span> <br>
        <input type="submit" value="완료">
        <input type="submit" value="삭제">
    </div>
    <!-- 완료 된 할 일 -->
    <div>
        <hr> TODO 내용 2 (완료됨) <br>
        <input type="submit" value="취소">
        <input type="submit" value="삭제">
    </div>
</form>


</body>
</html>